<div class="setting-container">
    <div class="container">
        <h1>User Account Settings</h1>
        <form class="settings-form" [formGroup]="settingForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <div class="form-group" >
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" name="first-name" placeholder="Enter your first name" formControlName="fname">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" name="last-name" placeholder="Enter your last name" formControlName="lname">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your new password" formControlName="password">
            </div>
            <div class="form-group">
                <label for="channel-name">Blog Channel Name</label>
                <input type="text" id="channel-name" name="channel-name" placeholder="Enter your blog channel name" formControlName="channel">
            </div>
            <!-- <div class="form-group text-start">
                <label for="profile">Profile Picture</label>
                <input type="file" id="profile" name="profile" formControlName="profile" (change)="onFileSelected($event)">
            </div> -->
            <button type="submit">Save Changes</button>
        </form>
    </div>
</div>