/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo img {
    max-width: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
}

.footer-info,
.footer-links,
.footer-social {
    flex: 1;
    margin-right: 20px;
}

.footer h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-info p {
    font-size: 16px;
    margin: 10px 0;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.footer-social li {
    margin-right: 15px;
}

.footer-social a img {
    max-width: 30px;
    max-height: 30px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #555;
}

.footer-bottom p {
    font-size: 14px;
    margin: 0;
}
