
<c-carousel [dark]="true" [wrap]="false">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides; index as i;">
        <img
          [src]="slide.src"
          alt="{{slide.title}}"
          class="d-block w-100"
          loading="lazy"
        />
        <!-- <c-carousel-caption class="d-none d-md-block">
          <h3>{{slide.title}}</h3>
          <p>{{slide.subtitle}}</p>
        </c-carousel-caption> -->
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>


<div class="blog-cards-container">
    <div class="blog-card" *ngFor="let blog of blogArray">
        <!-- <img src="http://localhost:4000/{{blog.blogImage}}" alt="blog_profile"/> -->
        <img [src]="apiUrl + '/' + blog.blogImage" alt="blog_profile" />

        <div class="blog-content">
            <h2 class="blog-title">{{blog.title}}</h2>
            <p class="blog-description">{{blog.description}}</p>
            <a href="#" class="read-more" routerLink="blog/history">Read More</a>
        </div>
    </div>
</div>