<div class="post-container">
    <div class="container">
        <h1>Create a Blog Post</h1>
        <form [formGroup]="newpostForm" (ngSubmit)="onPublish()" enctype="multipart/form-data" >
            <input type="text" placeholder="Title" formControlName="title">
            <select formControlName="category">
                <option value="" disabled selected>Select Category</option>
                <option value="technology">Technology</option>
                <option value="science">Science</option>
                <option value="travel">Travel</option>
                <option value="food">Food</option>
                <option value="lifestyle">Lifestyle</option>
                <option value="other">Other</option>
            </select>
            <textarea placeholder="Description" rows="6" formControlName="description"></textarea>
            <input type="text" placeholder="Author Name" formControlName="author">
            <input type="file" class="form-control text-start" name="blogImage" formControlName="blogImage" (change)="onFileSelected($event)">
            <button class="mt-5" type="submit">Publish</button>
        </form> 
    </div>
</div>