<main>
    <section class="about">
        <div class="about-card">
            <div class="about-header">
                <h1>About Us</h1>
                <p>Welcome to Tech Insights, where we are dedicated to delivering cutting-edge content and services to
                    our tech-savvy community.</p>
            </div>
            <div class="about-content">
                <h2>Our Story</h2>
                <p>Founded in 2023, Tech Insights embarked on a transformative journey that has seen us achieve
                    numerous milestones and accomplishments in the dynamic world of technology. With a track record of
                    innovation and excellence, we take pride in having served 1000+ customers and
                    continually pushing the boundaries of what's possible in the tech space.</p>

                <h2>Our Mission</h2>
                <p>At Tech Insights, our mission is to be at the forefront of tech knowledge dissemination. We are
                    committed to providing our audience with insightful and forward-thinking content that aligns with
                    our key principles of accuracy, relevance, and accessibility. Our aim is to empower our readers to
                    navigate the ever-evolving tech landscape with confidence and expertise.</p>

                <h2>Meet the Team</h2>
                <div class="team-members">
                    <div class="team-member">
                        <div class="team-member-photo">
                            <img src="../../../assets/Images/profile1.jpg" alt="John Doe">
                        </div>
                        <h3>John Doe</h3>
                        <p>Founder & CEO</p>
                    </div>
                    <div class="team-member">
                        <div class="team-member-photo">
                            <img src="../../../assets/Images/profile4.jpg" alt="Jane Smith">
                        </div>
                        <h3>Jane Smith</h3>
                        <p>CTO & Cofounder</p>
                    </div>
                    <!-- Add more team members as needed -->
                </div>
            </div>
        </div>
    </section>
</main>