<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          The best Blogging <br />
          <span style="color: hsl(218, 81%, 75%)">Website for your Journey</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          In our rapidly changing world, the value of continuous learning cannot be overstated. Gone are the days when
          education was something you completed in your youth and then used throughout your entire career. Today, the
          ability to adapt and acquire new knowledge is a critical skill for personal and professional growth.
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

              <div class="form-outline mb-4">
                <label class="form-label d-flex justify-content-start" for="form3Example3">Email address</label>
                <input type="email" id="form3Example3" class="form-control" placeholder="Enter your email" formControlName="email"
                  [class.is-invalid]="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)" />
                <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)"
                  class="invalid-feedback">
                  <div class="d-flex justify-content-start" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
                  <div class="d-flex justify-content-start" *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email.</div>
                </div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label d-flex justify-content-start" for="form3Example4">Password</label>
                <input type="password" id="form3Example4" class="form-control" placeholder="Enter your password" formControlName="password"
                  [class.is-invalid]="loginForm.controls['password'].invalid && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">
                <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)"
                  class="invalid-feedback d-flex justify-content-start">Password is required.</div>
              </div>

              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-block mb-4">
                  Login
                </button>
              </div>

              <hr>
              <div id="forgotDiv">
                <a routerLinkActive="active" routerLink="/forgotpassword">forgot password ?</a>
                or
                <a routerLinkActive="active" routerLink="/auth/signup">signup</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>